@import "_global.scss";
@import "_font.scss";
@import "_reset.scss";
@import "_media.scss";

.header{
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(14,7,237,1) 100%);
    &__menu{
        background: #11071F;
        min-height: 102px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        justify-content: end;
        &-list{
            margin: 30px 20px 32px 20px;
        }
        &-list:last-child {
            margin-right: 190px;
        }
        &-link{
            font-family: 'Preahvihear';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 63px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
    }
}
.main{
    background: rgb(2,0,36);
    background: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(14,7,237,1) 100%);
}
.main__wrapper{
    position: relative;
    margin-top: 179px;
    display: flex;
    &-img{
        max-width: 258px;
        max-height: 230px;
        background: rgb(195, 34, 191);
        background: linear-gradient(83deg, rgba(195, 34, 191, 1) 0%, rgba(123, 15, 231, 1) 100%);
        border-radius: 50%;
    }
    &-wrap{
        margin-top: 71px;
        margin-left: 30px;
    }
    &-subtitle{
        font-family: 'Preahvihear';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 31px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
    &-title{
        
        font-family: 'Preahvihear';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 63px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        & span {
            position: relative;
            color: blueviolet;
            margin-left: 15px;
             border: 1px solid #FFFFFF;
             transform: rotate(-4.74deg);
             border-radius: 50%;
        }
    }
    &-text{
        margin-top: 30px;
        max-width: 819px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        /* or 167% */

        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;

    }
}
.experience{
    margin-top: 160px;
    &__title{
        font-family: 'Preahvihear';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 72px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;
    }
    &__skill{
        display: flex;
        max-width: 870px;
        height: 168px;
        margin-top: 30px;
        
        &:nth-child(even){
            margin-left: 350px;
        }
    }
    &__img{
        margin-top: 5px;
        padding: 10px;
        max-height: 160px;
        border-radius: 20px;
    }
    &__text{
        max-width: 550px;
        min-height: 150px;
        padding: 10px;
        margin: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #CCD6F6;
        text-align: center;
        border: 3px solid #14006d;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 1px #120f44;
    }
    &__skill-img{
        margin: 0 auto;
        padding-top: 150px;
    }
}
.myproject {
    margin-top: 250px;
    padding-bottom: 40px;
}
.myproject__main{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.myproject__description{
    margin-top: 67px;
    &-subtitle{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #9857D3;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 51px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #CCD6F6;
    }
    &-text{
        max-width: 500px;
        margin-top: 40px;
        padding: 44px 35px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #CCD6F6;
        background-blend-mode: overlay,
        normal;
        backdrop-filter: blur(40px);
        border-radius: 14px;
        border: 2px solid #521beb;
    }
}
.myproject__portfolio-img-img{
    max-width: 600px;
    max-height: 350px;
    border-radius: 30px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
}
.footer{
    background: rgb(2,0,36);
    background: linear-gradient(235deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 66%, rgba(17,12,162,1) 100%);
    &__title{
        margin-top: 150px;
        font-family: 'Preahvihear';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 72px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    &__contakt-list{
        margin-top: 50px;
        display: flex;
    }
    &__list{
        margin-left: 150px;
    }
    &__links{
        margin-top: 25px;
    }
    &__link{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
    &__social{
        display: flex;
        margin: 30px auto 150px 110px;
    }
    &__social-links{
        margin-left: 30px;
    }
    &__social-img{
        background: #FFFFFF;
        border-radius: 5px;
    }
}